flightlog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="flightlogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ticket">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ticket_id">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[A-Z]{3}[0-9]{4}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="destination" type="xs:string"/>
                    <xs:element name="app_ver" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="metrics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="baggage_weight">
                      <xs:simpleType>
                        <xs:restriction base="xs:float">
                          <xs:minInclusive value="0.0"/>
                          <xs:maxInclusive value="50.0"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="loyalty_points">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="0"/>
                          <xs:maxInclusive value="10000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="seat_num" type="xs:integer"/>
                  </xs:sequence>
                  <xs:attribute name="status" type="xs:string" use="required"/>
                  <xs:attribute name="cabin_class" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="timestamp" type="xs:string" minOccurs="0"/>

              <xs:element name="passenger_name">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="current_encoding" type="xs:string" use="required"/>
                      <xs:attribute name="first_char_hex" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>